@use '../../styles/utilities/color';

.specbtn {
    position: relative;
    width: max-content;
    height: auto;
    border-bottom-style: solid;
    border-bottom-width: 3px;

    & > .large {
        font-size: 2em;
        line-height: 2em;
    }

    & > .small {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    & > .end-line {
        transform-origin: bottom right;
        transform: rotate(-45deg);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 3px;
    }
}

.largeBtn {
    padding-right: 4.5em;

    & > .end-line {
        height: 4.5em;
    }
}

.smallBtn {
    padding-right: 3em;

    & > .end-line {
        height: 3em;
    }
}