@use '../../styles/utilities/color';

@media screen and (max-width: 768px) and (orientation: portrait) {
    .specbtn {
        border-bottom-width: 2px;

        & > .large {
            font-size: 1.5em;
            line-height: 1.5em;
        }

        & > .small {
            font-size: 1.2em;
            line-height: 1.2em;
        }

        & > .end-line {
            width: 2px;
        }
    }

    .largeBtn {
        padding-right: 2.5em;

        & > .end-line {
            height: 3em;
        }
    }
    
    .smallBtn {
        padding-right: 2em;

        & > .end-line {
            height: 2.2em;
        }
    }
}