@use '../../styles/utilities/color';

@media screen and (max-width: 768px) and (orientation: portrait) {
    .bigtext {
        top: 0;
        
        & > img {
            width: auto;
            height: 15vh;
        }
    }

    .toRight {
        left: auto;
        right: 0;

        & > img {
            margin-right: 15vh;
            transform-origin: right top;
            transform: rotate(270deg);
        }
    }

    .toLeft {
        left: 0;
        right: auto;

        & > img {
            margin-left: 15vh;
            transform-origin: left top;
            transform: rotate(90deg);
        }
    }
}