.bigtext {
    position: absolute;
    top: 14vh;
    right: 0;
    width: fit-content;
    height: fit-content;
    opacity: 0.15;

    img {
        width: auto;
        height: 28vh;
    }
}

.toRight {
    left: auto;
    right: 0;

}

.toLeft {
    left: 0;
    right: auto;
}