@use '../../styles/utilities/color';

.skills {
    position: relative;
    padding: 0 5%;
    width: 90%;
    height: 100vh;
    background-color: color.$primary-color-dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    & > .row-1 {
        margin-bottom: 5%;
        width: 100%;
        height: 42%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        & > .title {
            color: color.$primary-color-bright;
            font-size: 3em;
            font-weight: bold;
        }
    }

    & > .row-2 {
        width: 100%;
        height: 43%;
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 50% 50%;

        // title part
        & > .title {
            position: relative;
            height: 90%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-right: 3px solid color.$primary-color-bright;

            & > div {
                position: absolute;
                right: 0;
                width: 135%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                color: color.$primary-color-bright;
            
                & > .icon {
                    width: auto;
                    height: 35%;
                }
                
                & > .main {
                    height: 25%;
                    font-size: 1.5em;
                }
                
                & > .sub {
                    height: 20%;
                    font-size: 0.9em;
                }
                
            }
        }

        & > .lang-title {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        & > .other-title {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        // content part
        & > .content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: scroll hidden;
            -ms-overflow-style: none;  // hide scrollbar for IE and Edge
            scrollbar-width: none;  // hide scrollbar for Firefox
        
            & > .list-content {
                padding: 0 1.5em;
                width: max-content;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

        }

        & > .lang-content {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        & > .other-content {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        // hide scroll bar
        & > .content::-webkit-scrollbar {
            // hide scrollbar for Chrome, Safari, Opera
            display: none;
        }

    }

}