@use '../../styles/utilities/color';

@media screen and (max-width: 768px) and (orientation: portrait) {

    .exp {

        .col-1 {
            padding-top: 25vh;
            width: 100%;
            height: max-content;

            & > .row-1 {
                margin-bottom: 10%;
                height: auto;
                align-items: flex-start;

                & > .title {
                    font-size: 2.5em;
                }
            }

            & > .row-2 {
                margin-left: 5%;
                padding-top: 5vh;
                position: relative;
                width: 95%;
                height: max-content;
                border-left: 2px solid color.$stroke-color-dark;
            
                & > .triangle {
                    position: absolute;
                    top: -0.6em;
                    left: calc(-0.6em - 1px);
                    width: 1.2em;
                    height: 1.2em;
                    color: color.$stroke-color-dark;
                    transform: rotate(180deg);
                }
    
                & > .card-container {
                    width: 100%;
                    height: max-content;
                }
            }
        }
    }

}