@use '../../styles//utilities/color';

.footer {
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: color.$primary-color-dark;

    & > .contact {
        padding-top: 3em;
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: color.$primary-color-bright;

        & > .title {
            width: 100%;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            letter-spacing: 0.5em;
        }

        & > .split-line {
            margin: 2em 0;
            width: 10em;
            height: 3px;
            background-color: color.$primary-color-bright;
        }

        & > .content {
            margin-bottom: 1em;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > div {
                margin: 1em 0 1em;
                width: fit-content;
                text-align: center;
                font-size: 1.2em;
            }

        }

        & > .icon {
            margin-bottom: 2em;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            & > .link {
                margin: 0 1em;
                width: 1.5em;
                height: 1.5em;
                font-size: 1.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid color.$primary-color-bright;
                border-radius: 50%;
                color: color.$primary-color-bright;
            }
        }

        & > .copyright {
            margin-bottom: 1em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
}